.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team__item {
    background-color: $color-bgc-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
}

.team__discription {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: inherit;
    line-height: inherit;
    color: $color-text-secondary;
    font-weight: 500;
}

.team__text {
    margin-top: 0;
    margin-bottom: 16px;
}

