
//  Cписки
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

//  Посилання
a {
  text-decoration: none;
  color: inherit;
}

//  Зображення
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Абзаци
p {
  margin-top: 0;
  margin-bottom: 0;
}