.business {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.business__item {
    position: relative;
    
    &:not(:last-child) {
      margin-right: 30px;
    }
}

.business__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.business__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-text-white;
}