.features {
    margin-bottom: -30px;
        
    @media screen and (min-width: 768px) {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
    }
}

.features__item {
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        max-width: 450px;
    }


    @media screen and (min-width: 768px) {
       width: 354px;
       margin-right: 15px;
       margin-left: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.features__wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $color-bgc-secondary;
    border-radius: 4px;
}

.features__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: $color-text-secondary;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.features__discription {
    letter-spacing: 0.03em;
}