// Фон
.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $transition-main;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
// Віконце
.modal-box {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: $color-bgc-main;
    transition: transform $transition-main;
}

.modal-box__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $color-text-primary;
}

.modal-box__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

// Кнопка закриття віконця
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 30px;
    min-height: 30px;
    background: $color-bgc-main;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color $transition-main;

    &:hover,
    &:focus {
        background: $color-bgc-main;
    }
}

.close-button__icon {
    fill: $color-text-secondary;
    transition: fill $transition-main;

    .close-button:hover &,
    .close-button:focus & {
        fill: $color-theme-main;
    }
}

// Форми
.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 4px;
}

.form__wrapper {
    position: relative;
}

.form__input {
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border $transition-main;

    .form__field:focus-within & {
        border: 1px solid $color-theme-main;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill $transition-main;

    .form__field:focus-within & {
        fill: $color-theme-main;
    }
}

.form__comment {
    margin-bottom: 0;
}

.form__textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 12px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border $transition-main;

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    .form__comment:focus-within & {
        border: 1px solid $color-theme-main;
    }
}

// Кастомний чекбокс
.checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox__icon {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    border: 2px solid $color-text-secondary;
    border-radius: 4px;
    transition: box-shadow $transition-main,
                background-color $transition-main;

    .checkbox__input:focus+& {
        box-shadow: 0 0 0 2px $color-theme-main;
    }
    
    .checkbox__input:checked:focus+& {
        box-shadow: 0 0 0 2px $color-text-secondary;
    }
    
    .checkbox__input:checked+& {
        border-color: $color-theme-main;
        background-color: $color-theme-main;
        background-image: url(../images/icon-checked.svg);
        background-size: contain;
        background-origin: border-box;
    }
}

.policy {
    margin-left: 4px;
    color: $color-theme-main;
}

// Кнопка відправки форми
.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form__button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $color-text-white;
    background-color: $color-theme-main;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

