.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #ececec;
  background-color: $color-bgc-main;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header__conteiner {
  position: relative;
  height: 100%;
}

// Мобільне меню
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__button {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;

  cursor: pointer;
}

.mobile__icon {
  transition: fill $transition-main;

  &:hover,
  &:focus {
    fill: $color-theme-main;
  }
}

.mobile__icon--close {
  display: none;
}

.is-active .mobile__icon--close {
  display: block;
}

.is-active .mobile__icon--open {
  display: none;
}

.mobile__menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px 15px;
  z-index: 5;
  overflow-y: scroll;
  background-color: $color-bgc-main;

  @media screen and (max-width: 380px) {
    padding-right: 15px;
  }
}

.mobile__menu.is-open {
  display: block;
}

// Розділ навігації
.mobile-nav__item {
  &:not(:last-child) {
    padding-bottom: 32px;
  }
  
  &:hover,
  &:focus {
    color: $color-theme-main;
  }
}

.mobile-nav__link {
  display: block;
  color: $color-text-secondary;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color $transition-main;

  &:hover,
  &:focus {
    color: $color-theme-main;
  }
}

.mobile-contacts {
  margin-top: 40vh;
}

.mobile-contacts__item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  font-style: normal;
  letter-spacing: 0.02em;
  color: $color-theme-main;
  
  &:last-child {
    margin-bottom: 64px;
  }

  @media screen and (max-width: 380px) {
    font-size: 24px;
    line-height: 1.18;

    &:last-child {
      margin-bottom: 5vh;
    }
  }
}

.mobile-contacts__link {
  display: inline-flex;
  align-items: center;
  transition: color $transition-main;
  
  &:hover,
  &:focus {
    color: $color-theme-main;
  }

  &--small-gray {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $color-text-primary;
  }
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}

.mobile-socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $color-theme-main;

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (max-width: 440px) {
    flex-basis: calc((100%-70px) / 2);

    &:nth-last-child(n + 3) {
    margin-bottom: 20px;
    }

    &:nth-child(2n) {
      padding-left: 15vw;
    }

    &:not(:nth-child(2n)) {
      padding: 0;
      border: none;
    }
  }
}

// Меню для планшета та десктопа
.header__menu {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-nav__list {
  display: flex;
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.page-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }

  &:hover,
  &:focus {
    color: $color-theme-main;
  }
}

.page-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $color-text-secondary;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $transition-main;

  &:hover,
  &:focus {
    color: $color-theme-main;
  }
}   

.page-nav__link--current {
  @media screen and (min-width: 768px) {
    position: relative;
    color: $color-theme-main;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $color-theme-main;
      border-radius: 2px;
    }
  }
}

// Контакти
.contacts {
  margin-left: auto;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.17;
  color: $color-text-primary;

  @media screen and (max-width: 1199px) { 
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  transition: color $transition-main;

  &:hover,
  &:focus {
    color: $color-theme-main;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: $color-text-primary;
  transition: fill $transition-main;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $color-theme-main;
  }
}
