.header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #ececec;
    background-color: $color-bgc-main;
}

.header__conteiner {
    position: relative;
    text-align: center;
    height: 100%;
}

// Мобільне меню
// @media screen and (max-width: 1200px) {
    .header__desktop-menu {
        display: none;
    }
// }

.header__mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 45px 15px 10px 15px;
    z-index: 12;
    background-color: $color-bgc-main;
}

.mobile__wrapper {
position: absolute;
top: 10px;
right: 15px;
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
margin-left: auto;
}

.mobile__icon {
    transition: fill $transition-main;
    
    &:hover,
    &:focus {
        fill: $color-theme-main;
    }
}

.mobile__icon--close {
    opacity: 1;
}

.is-open .mobile__icon--close {
  opacity: 0;
}


// Розділ навігації
.page-nav {
   text-align: start;
}

.page-nav__link {
    display: block;
    padding-bottom: 32px;
    color: $color-text-secondary;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition: color $transition-main;

    &:hover,
    &:focus {
        color: $color-theme-main;
    }
}

// Контакти
.contacts {
    margin-top: 300px;
    text-align: start;
}

.contacts__item {
   margin-bottom: 32px;
}

.contacts__item:last-child {
    margin-bottom: 64px;
}

.contacts__link {
    display: inline-flex;
    align-items: center;
    color: $color-theme-main;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color $transition-main;

    &:hover,
    &:focus {
        color: $color-theme-main;
    }
}

.contacts__link--small-gray {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $color-text-primary;
}

.social-set {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.social-set__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $color-theme-main;

    &:not(:first-child) {
        padding-left: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);;
    }

     &:not(:last-child) {
        padding-right: 10px;
        }
}


// Меню для десктопа
@media screen and (max-width: 1199px) {
    .header--desktop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
// Розділ навігації
.page-nav {
    display: flex;
    align-items: center;
}

.page-nav__list {
    display: flex;
    margin-left: 93px;
}

.page-nav__item {
    &:not(:first-child) {
        margin-left: 50px;
    }
}

.page-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $color-text-secondary;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-main;

    &:hover,
    &:focus {
        color: $color-theme-main;
    }
}

.page-nav__link--current {
    position: relative;
    color: $color-theme-main;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: $color-theme-main;
        border-radius: 2px;
    }
}

// Контакти
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item {
    &:not(:first-child) {
        margin-left: 50px;
    }
}

.contacts__link {
    display: inline-flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    color: $color-text-primary;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color $transition-main;

    &:hover,
    &:focus {
        color: $color-theme-main;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: $color-text-primary;
    transition: fill $transition-main;

    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: $color-theme-main;
    }
}
}